<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.get_image %>
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p><%= @item.with_tax_price %></p>
       <!--カートに入れるボタン必要-->
    </div>
  </div>
</div>